In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('csvs/weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
female_df = df[df['Gender'] == 'Female']
female_df.head()

      Gender     Height      Weight
5000  Female  58.910732  102.088326
5001  Female  65.230013  141.305823
5002  Female  63.369004  131.041403
5003  Female  64.479997  128.171511
5004  Female  61.793096  129.781407

In [ ]:
male_df = df[df['Gender'] == 'Male']
male_df.head()

In [7]:
height = female_df['Height'].tolist()
weight = female_df['Weight'].tolist()

In [8]:
height = np.reshape(height, (len(height), 1))
weight = np.reshape(weight, (len(weight), 1))

In [ ]:
height = np.array(female_df['Height'])
weight = np.array(female_df['Weight'])

In [ ]:
print(height.shape, height2.shape)

In [ ]:
height

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
height = scaler.fit_transform(height)
print(height)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(height, weight, test_size=0.10)

In [ ]:
from sklearn import linear_model

In [ ]:
linear = linear_model.LinearRegression()
linear.fit(x_train, y_train)

In [ ]:
y_pred = linear.predict(x_test)

In [ ]:
y_pred

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x_train, y_train, color = 'blue')
plt.plot(x_train, linear.predict(x_train), color = 'yellow')

In [ ]:
# Predict the weight
a = np.array([72.870360147235])
a= a.reshape(-1, 1)
linear.predict(a)

In [ ]:
acc = linear.score(x_test,y_test)
print(acc)

In [ ]:
x_test

In [ ]:
x_test_inverse = scaler.inverse_transform(x_test)
x_test_inverse

In [ ]:
for x in range(len(y_pred)):
    print(y_pred[x],y_test[x], x_test[x])